.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(237, 73, 207, 0.7);
}

.modal {
  position: fixed;
  background: black;
  color: rgb(49, 238, 49);
  top: 10vh;
  bottom: 5vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  padding: 40px;
  overflow: scroll;
}
